@(user: models.User, events: Seq[models.Event])(implicit messages: Messages)

@host(events: Seq[models.Event], event: models.Event) = @{
    events.map(_.participants).flatMap { col => col.map(_._2) }.find(p => p.userID == event.dBEvent.host)
}


@main(Messages("home.title"), Some(user)) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Upcoming events:</h1>
        </div>
    </div>
    <div class="row">
    @for(event <- events) {
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>@event.dBEvent.title</h2>
                    <h3>@event.dBEvent.startTime.toString("dd MMMM, hh:mm")
                        @if(event.dBEvent.endTime.isDefined) { - @event.dBEvent.endTime.?.toString("dd MMMM, hh:mm") }
                    </h3>
                    <div class="">
                        Organizer: @host(events, event).get.fullName
                    </div>
                </div>
                <div class="panel-body">
                @event.dBEvent.description
                </div>
                <div class="panel-footer clearfix">
                    Confirmed: @{
                    event.participants.count(p => p._1.status == EventAttendanceStatus.Confirmed)
                }
                    Tentative: @{
                    event.participants.count(p => p._1.status == EventAttendanceStatus.Tentative)
                }
                <div class="btn-group pull-right">
                    <a href="@routes.EventsController.event(event.dBEvent.id)"><button type="button" class="btn btn-primary">View</button></a>
                </div>
                </div>
            </div>
        </div>
    }
    </div>
    <a href='@routes.EventsController.newEvent()'><button class="btn btn-default">New event</button></a>
}