
@(user: models.User, event: models.Event, eventComments: Seq[models.EventComment], attendanceForm: Form[forms.EventAttendanceForm.Data], commentForm: Form[forms.CommentForm.Data])(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@host = @{
    event.participants.filter(p => p._2.userID == event.dBEvent.host).head._2
}

@userAttendance = @{
    event.participants.find(p => p._2.userID == user.userID.toString) match{
        case Some(tuple) =>  tuple._1.status
        case None => EventAttendanceStatus.NotAttending
    }
}

@main(Messages("home.title"), Some(user)) {

    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }

    <div class="row">
        <h2>@event.dBEvent.title</h2>
        <h3>@event.dBEvent.startTime.toString("dd MMMM, hh:mm")
            @if(event.dBEvent.endTime.isDefined) { - @event.dBEvent.endTime.?.toString("dd MMMM, hh:mm") }
        </h3>
        <h4>
            Organizer: @host.fullName
        </h4>
        <div >
            <h2 class="page-header">Description</h2>
            <p>@event.dBEvent.description</p>
        </div>
        <div>
            <h3>Guest list:</h3>
            <ul class="list-group">
                @for(guest <- event.participants){
                    <li class="list-group-item">@guest._2.fullName: @guest._1.status.toString</li>
                }
            </ul>
        </div>
        <div>
            @helper.form(action = routes.EventsController.updateAttendance(event.dBEvent.id)){
                @helper.CSRF.formField
                @b3.select(attendanceForm("attendance"), options = EventAttendanceStatus.values.map(value => (value.id.toString, value.toString)).toSeq, '_label -> "Your status:", 'value -> userAttendance.id.toString)
                <div class="form-group">
                    <div>
                        <button id="submit" type="submit" value="submit" class="btn btn-default">Save</button>

                    </div>

                </div>
                <a class="btn btn-default" href='@routes.EventsController.events()'>Back</a>
            }
        </div>


        <h3>Comments:</h3>
        <ul class="list-group">

        @for(comment <- eventComments){
            <li class="list-group-item">
                <b>@comment.user.fullName</b> says:
                <p>
                    @comment.dBEventComment.comment
                </p>
            </li>
        }
        </ul>

        <div>
            @helper.form(action = routes.EventsController.saveComment(event.dBEvent.id)){
                @helper.CSRF.formField
                @b3.text(commentForm("comment"), 'label -> "Write a comment:")
                <div class="form-group">
                    <div>
                        <button id="submit" type="submit" value="submit" class="btn btn-default">Add</button>
                    </div>
                </div>
            }
        </div>
    </div>


}